<!-- This is a static file -->
<!-- served from your routes in server.js -->

<!-- You might want to try something fancier: -->
<!-- html/nunjucks docs: https://mozilla.github.io/nunjucks/ -->
<!-- pug: https://pugjs.org/ -->
<!-- haml: http://haml.info/ -->
<!-- hbs(handlebars): http://handlebarsjs.com/ -->

<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Welcome to Glitch!</title>
    <meta name="description" content="A cool thing made with Glitch">
    <link id="favicon" rel="icon" href="https://glitch.com/edit/favicon-app.ico" type="image/x-icon">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- import the webpage's stylesheet -->
    <link rel="stylesheet" href="/style.css">
  </head>
  <body>
    <div id="wrapper">
      <main>
        <form action="/api/shorurl/new" method="POST">
          <h1>
          Micro services
            
          </h1>
          <label for="url">URL to be shortened</label>
          <input type="text" name="url" value="https://www.google.com.vn">
          <button type="submit">
            POST URL
          </button>
        </form>
        
        <section id="file">
          <h1>
            File Metadata Microservice
          </h1>
          <form enctype="multipart/form-data" method="POST" action="/api/fileanalyse">
            <input type="file" name="upfile">
            <button type="submit">
              Upload
            </button>
          </form>
          
        </section>
      </main>
    </div>
  </body>
</html>
