/* styles */
/* called by your view template */

* {
  box-sizing: border-box;
}

body {
  font-family: "Benton Sans", "Helvetica Neue", helvetica, arial, sans-serif;
  margin: 2em;
  background-color: rgba(0,0,0,.5);
}

h1 {
  font-style: italic;
  color: #373fff;
  text-align:center;
}

#wrapper {
  margin: 50px auto;
  width: 50%;
  height: auto;
  padding: 20px;
  background-color: #fff;
  display: flex;
  flex-direction: column;
}

main > form {
  display: grid;
  grid-gap: 15px;
  grid-template: 
    'label input'
    '. btn' / 
    auto 1fr;
}

label {
  grid-area: label;
}

input {
  grid-area: input;
  height:30px;
  padding: 5px;
}

input:focus{
  outline:none;
}

button {
  grid-area: btn;
  height: 30px;
  border: none;
  box-shadow: 0px 1px 1px 0px rgba(0,0,0,.7);
  background-color: rgba(255,255,128, 1);
}